<%= simple_form_for(@tweet) do |form| %>
 <% if flash[:notice] %>
  		<div class="notification is-primary global-notification">
  			<p class="notice"><%= notice %></p>
  		</div>
  	<% end %>
  	<% if flash[:alert] %>
  		<div class="notification is-danger global-notification">
  			<p class="alert"><%= alert %></p>
  		</div>
  	<% end %>

  <div class="field">
    <div class="control">
      <%= form.input :tweet, label: "Tweet about it", input_html: {class: "textarea"}, wrapper: false, label_html: {class: "label"}, placeholder: "compose a tweet"%>
    </div>
  </div>

  <%= form.button :submit, class: "button is-info"%>
<% end %>
